/*Fix borken responsive design on smaller screens*/
html, body {
    overflow-x:hidden
}

.heading-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: auto;
}

.clickThrough {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/*back to top positioning and styling*/
#back-top {
    position: fixed;
    display: none;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.5);
    bottom: 20px;
    right: 40px;
    width: auto;
    z-index: 4000;
}

#back-top:hover {
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

a#back-top:active {
    background: none;
}

a#back-top {
    display: block;
    text-decoration: none;
}

#back-top i {
    display: block;
}

/*formatting for having multiple buttons in a row*/
.button-box {
    text-align: center;
    margin: 10px;
}

/*Generic spacing for consistancy if we need to remove the top spacing*/
.zero-spacing-top {
    margin-top: 0 !important;
    padding-top: 0 !important;;
}

/*push the icons a bit to the right to make them more centred*/
.nc-navlinks {
    padding-left: 5px;
}

nav li.active {
    /* created active class for your li elements */
    background-color: #EEEEEE;
    border-bottom: 3px solid #51BCDA;
}

#top-menu li {
    float: left;
}

#top-menu a {
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    text-decoration: none;
}

#top-menu li.active a {
    color: #333;
}

/*.navbar-collapse {*/
    /*padding-left: 15px;*/
    /*padding-top: 0;*/
/*}*/

.btn-group{
    margin:0px !important;
}